header {
    background-color: #c1c1c1;
}

#header-title h2 {
    text-align: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-icons {
    width: 6%;
    padding-left: 5px;
    padding-right: 5px;
}

.header-nav-icons a {
    text-decoration: none;
}

.header-nav-icons a img {
    width: 50px;
    background-color: #c1c1c1;
}

#header-nav-input-1 {
    width: 50%;
}

#header-nav-input-1 label {
    display: block;
    width: auto;
    text-align: center;
}

#header-nav-input-2 {
    width: 25%;
}

#header-nav-input-2 label {
    display: block;
    width: auto;
    text-align: center;
}

#header-nav-input-2 input {
    background: url('../img/searchIcon.png') no-repeat left;
    background-size: 10px;
    background-color: white;
    padding-left: 11px;
}

