header {
    background-color: #c1c1c1;
}

#header-holder {
    padding: 10px;
}

#header-title h2 {
    text-align: center;
}

.header-nav {
    display: inline-block;
    height: 50px;
}

.header-nav-icons {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.header-nav-icons a {
    text-decoration: none;
}

.header-nav-icons a img {
    width: 50px;
    background-color: #c1c1c1;
}

#header-nav-input-1 {
    float: inline-start;
    width: 50%;
    padding: 5px;
}

#header-nav-input-2 {
    float: right;
    width: 75%;
    padding: 5px;
}

#search-icon {
    position: absolute;
    top: 25px;
}

#search-icon img {
    width: 10px;
}
